@import 'tailwindcss';

@import 'tw-animate-css';

@import 'shadcn/tailwind.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-title: 'Geist', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: var(--font-sans);

    --radius-xs: calc(var(--radius) * 0.3);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-strong: var(--primary-strong);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);

    --color-link: var(--link);

    --color-input: var(--input);
    --color-input-foreground: var(--input-foreground);

    --color-border: var(--border);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --spacing-shell: 1rem;
    --spacing-shell-gap: calc(var(--spacing-shell) * 2);

    --width-panel: 24rem;
    --width-panel-collapsed: 6rem;
}

:root {
    --radius: 0.625rem;

    --background: oklch(0.955 0.001 197.138);
    --foreground: oklch(0.394 0 89.876);

    --card: oklch(0.991 0 89.876);
    --card-foreground: oklch(0.394 0 89.876);

    --popover: oklch(0.991 0 89.876);
    --popover-foreground: oklch(0.394 0 89.876);

    --primary: oklch(0.848 0.166 86.591);
    --primary-foreground: oklch(0.394 0 89.876);
    --primary-strong: oklch(0.5 0.09 86.591);

    --secondary: oklch(0.936 0.001 197.138);
    --secondary-foreground: oklch(0.394 0 89.876);

    --muted: oklch(0.936 0.001 197.138);
    --muted-foreground: oklch(0.522 0.002 286.348);

    --accent: oklch(0.91 0.002 197.138);
    --accent-foreground: oklch(0.394 0 89.876);

    --destructive: oklch(0.517 0.21 27.325);
    --destructive-foreground: oklch(0.991 0 89.876);

    --success: oklch(0.489 0.125 152);
    --success-foreground: oklch(0.991 0 89.876);

    --warning: oklch(0.512 0.11 70);
    --warning-foreground: oklch(0.991 0 89.876);

    --info: oklch(0.505 0.14 250);
    --info-foreground: oklch(0.991 0 89.876);

    --input: oklch(0.802 0.001 286.369);
    --input-foreground: oklch(0.394 0 89.876);

    --link: var(--primary-strong);

    --border: oklch(0.936 0.001 197.138);

    --ring: oklch(0.848 0.166 86.591);

    --chart-1: oklch(0.848 0.166 86.591);
    --chart-2: oklch(0.916 0.093 91.538);
    --chart-3: oklch(0.394 0 89.876);
    --chart-4: oklch(0.802 0.001 286.369);
    --chart-5: oklch(0.936 0.001 197.138);

    --sidebar: oklch(0.936 0.001 197.138);
    --sidebar-foreground: oklch(0.394 0 89.876);
    --sidebar-primary: oklch(0.848 0.166 86.591);
    --sidebar-primary-foreground: oklch(0.394 0 89.876);
    --sidebar-accent: oklch(0.916 0.093 91.538);
    --sidebar-accent-foreground: oklch(0.394 0 89.876);
    --sidebar-border: oklch(0.802 0.001 286.369);
    --sidebar-ring: oklch(0.848 0.166 86.591);

    --panel-radius: var(--radius-xl);
    --panel-card-radius: var(--radius-lg);
    --panel-border: 1px;
    --panel-frame-padding: 0.5rem;
    --panel-padding: --spacing(4);
    --panel-gap: --spacing(4);

}

.dark {
    --background: oklch(0.239 0 0);
    --foreground: oklch(0.991 0 89.876);

    --card: oklch(0.341 0 89.876);
    --card-foreground: oklch(0.991 0 89.876);

    --popover: oklch(0.341 0 89.876);
    --popover-foreground: oklch(0.991 0 89.876);

    --primary: oklch(0.848 0.166 86.591);
    --primary-foreground: oklch(0.394 0 89.876);
    --primary-strong: oklch(0.848 0.166 86.591);

    --secondary: oklch(0.394 0 89.876);
    --secondary-foreground: oklch(0.991 0 89.876);

    --muted: oklch(0.394 0 89.876);
    --muted-foreground: oklch(0.768 0.002 286.348);

    --accent: oklch(0.42 0 89.876);
    --accent-foreground: oklch(0.991 0 89.876);

    --destructive: oklch(0.81 0.106 22.216);
    --destructive-foreground: oklch(0.394 0 89.876);

    --success: oklch(0.778 0.15 152);
    --success-foreground: oklch(0.394 0 89.876);

    --warning: oklch(0.804 0.14 75);
    --warning-foreground: oklch(0.394 0 89.876);

    --info: oklch(0.8 0.105 250);
    --info-foreground: oklch(0.394 0 89.876);

    --input: oklch(0.802 0.001 286.369 / 25%);
    --input-foreground: oklch(0.991 0 89.876);

    --link: var(--primary-strong);

    --border: oklch(0.802 0.001 286.369 / 18%);

    --ring: oklch(0.848 0.166 86.591);

    --chart-1: oklch(0.848 0.166 86.591);
    --chart-2: oklch(0.916 0.093 91.538);
    --chart-3: oklch(0.394 0 89.876);
    --chart-4: oklch(0.802 0.001 286.369);
    --chart-5: oklch(0.936 0.001 197.138);

    --sidebar: oklch(0.341 0 89.876);
    --sidebar-foreground: oklch(0.991 0 89.876);
    --sidebar-primary: oklch(0.848 0.166 86.591);
    --sidebar-primary-foreground: oklch(0.394 0 89.876);
    --sidebar-accent: oklch(0.848 0.166 86.591 / 15%);
    --sidebar-accent-foreground: oklch(0.848 0.166 86.591);
    --sidebar-border: oklch(0.802 0.001 286.369 / 18%);
    --sidebar-ring: oklch(0.848 0.166 86.591);
}

@layer base {
    * {
        @apply border-border;
    }

    *:focus-visible {
        @apply outline-ring/50;
    }

    html {
        font-size: clamp(16px, 0.7vw, 52px);
        @apply font-sans;
    }

    body {
        @apply bg-background text-foreground scroll-smooth scrollbar-thin scrollbar-gutter-stable;
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        @apply clickable;
    }
}

@utility clickable {
    @apply cursor-pointer active:scale-[0.98] active:transition-all;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--input-foreground) !important;
    transition: background-color 5000s ease-in-out 0s;
    font-weight: bold !important;
    line-height: 1.5 !important;
}
